<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Exercises</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <p class="text-3xl font-bold">Simple Exercise List</p>
  {% for key, value in exercises.items() %}
  {% for item in value %}
  <p>{{ item }}</p>
  {% endfor %}
  <br>
  {% endfor %}
</body>

</html>